@font-face {
font-family: 'Scary Vampire Regular';
font-style: normal;
font-weight: normal;
src: local('Scary Vampire Regular'), url('ScaryVampire.woff') format('woff');
}

h1 {
  font-family: Scary Vampire Regular;
  font-weight: 300;
  color: #E70000;
}